@import "tailwindcss";

@font-face {
  font-family: "Hikasami";
  src: url("assets/fonts/Hikasami-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hikasami";
  src: url("assets/fonts/Hikasami-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hikasami";
  src: url("assets/fonts/Hikasami-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hikasami";
  src: url("assets/fonts/Hikasami.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Reganz";
  src: url("assets/fonts/Reganz-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans:
    "Hikasami", "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

h1 {
  font-family: "Reganz", sans-serif;
}

input {
  border-bottom: 1px solid gray;
  padding: 0.33rem 0.5rem;
  background-color: transparent;
}

label {
  font-weight: 500;
}

button {
  background-color: oklch(97% 0.001 106.424);
  color: #0e0e0e;
  font-weight: 600;
  padding: 0.5rem 3rem;
  border-radius: 0.375rem;
}

.banner {
  background-color: oklch(26.8% 0.007 34.298);
  color: #f9fafb;
}
